*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(29, 213, 241),rgba(46, 59, 203, 0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:aqua;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 1px;
    width: 0;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: 0;
}
.navbar ul li:hover::after{
    width: 100%;
}
.body{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
    color:rgb(21, 255, 0);
}
button{
    height: 50px;
    width: 100px;
    padding: 20px 0;
    text-align: center;
    margin: 15px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid  #009688;
    background: transparent;
    color: aquamarine;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.span{
    background: #1de2c7;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.button:hover span{
    width: 100%;
}
.button:hover{
    border: none;
}
.button clr:hover span{
    background: #4110a3;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    color: aquamarine;
}