*{
    margin:0;
    padding: 0%;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}
.logo{
    width: 120px;
    cursor: pointer;
}